{% load static %}

<div class="alert alert-primary mb-4">
    <div class="row flex-lg-row align-items-center gx-0 gy-5 g-md-5">
        <div class="col-md-3">
            <img src="{{ event.payment_qr.url }}" class="d-block mx-lg-auto img-fluid rounded" width="200" height="200">
        </div>
        <div class="col-md-9">
        <h4>
            Ваша заявка успешно зарегистрирована. Актуальная стоимость участия - <strong>{{ payment_window_active.render_price }}</strong>.
        </h4>
        <p>
            Для оплаты используйте QR-код или перейдите по <a href="{{ event.payment_url }}">ссылке</a>. Пожалуйста, не забудьте указать Вашу фамилию в комментарии к платежу.               
        </p>
        <p>
            Обращаем Ваше внимание на то, что оплата на старте мероприятия <strong>не предусмотрена</strong>. 
        </p>
    </div>
    </div>
</div>

