<!DOCTYPE html>
<!-- Note: use absolute URLS. Wkhtmltopdf does not work with relative urls on the same server (why?) -->
<!-- Note: Wkhtmltopdf does not support HTML5 and CSS3. Use HTML4 and CSS2 -->
<html>
    <head>
        <meta name="pdfkit-page-size" content="{{ pdfkit_page_size }}"/>
        <meta name="pdfkit-orientation" content="{{ pdfkit_orientation }}"/>
        <title>
            {% block title %}
            {% endblock %}
            XCM55
        </title>
        <style>
            .keep-together {
                page-break-inside: avoid;
            }

            .break-before {
                page-break-before: always;
            }

            .break-after {
                page-break-after: always;
            }
        </style>
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div style="width:100%">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>