{% extends 'pdf_generator/base.html'%}

{% block style %}
<style>
    *{
        font-family: sans-serif;
        font-size: 30px;
    }
    p{
        margin: 0;
    }
    table, body{
        padding: 0;
        margin: 0;
    }
    td{
        font-size: 30px;
        font-weight: 700;
        vertical-align: middle;
        text-align: center;
        padding: 0;
    }
    .container{
        padding: 20px;
        margin: 0;
        min-height: 950px;
        max-height: 950px;
    }
    .number-container{
        margin: auto;
    }
    .number{
        height: 450px;
        width: auto;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 120px;
        margin-bottom: 90px;
    }
    .event-name{
        font-size: 40px;
    }
    .sponsor-logo{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
        height: auto;
    }
    .sponsor-logo-left{
        margin-right: auto;
    }
    .sponsor-logo-right{
        margin-left: auto;
    }
</style>
{% endblock %}

{% block content %}
    {% for application in applications %}
        <div class="break-after container" style="background-color: {{ application.render_background }};">
            <table width="100%">
                <tr>
                    <td width="30%" style="text-align: left;">
                        <p>{{ application.user_profile}}</p>
                        <p>{{ application.render_category }}</p>
                    </td>
                    <td width="40%" >
                        <p class="event-name">{{ application.event.name.upper }} {{event.date.year}}</p>
                    </td>
                    <td width="30%" style="text-align: right;">
                        <p>{{ application.route.distance }} км</p>
                        <p>{{ application.event.date }}</p>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="15%">
                        {% for sponsor in sponsors|slice:"0:4" %}
                            <img 
                                class="sponsor-logo sponsor-logo-left" 
                                src="{{ host }}{{ sponsor.sponsor.image.url }}"
                                width="100"
                                height="50"
                                >
                        {% endfor %}
                    </td>
                    <td width="70%" >
                        <div class="number-container">
                            {% for char in application.render_number %}
                                <img 
                                    class="number" 
                                    src="{{ host }}/static/app/svg/pdf/numbers/{{ char }}.svg"
                                    width="90"
                                    height="180"
                                    >
                            {% endfor %}
                        </div>
                    </td>
                    <td width="15%" style="text-align: right;">
                        {% for sponsor in sponsors|slice:"4:8" %}
                            <img 
                                class="sponsor-logo sponsor-logo-right" 
                                src="{{ host }}{{ sponsor.sponsor.image.url }}"
                                width="100"
                                height="50"
                                >
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="40%" style="text-align: left;">
                        <p>Телефон для экстренной связи:</p>
                        <p>{{ application.event.emegrency_phone_number }}</p>
                    </td>
                    <td width="20%" >
                        XCM55.RU
                    </td>
                    <td width="40%" style="text-align: right;">
                        <div>
                            <img width="140px" height="140px" src="{{ host }}{{ event.result_qr.url }}"> 
                            <p>Протокол</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    {% for x in extra_numbers %}
        <div class="break-after container" style="background-color: #FFF;">
            <table width="100%">
                <tr>
                    <td width="30%" style="text-align: left;">
                        <p></p>
                        <p></p>
                    </td>
                    <td width="40%" >
                        <p class="event-name">{{ event.name.upper }} {{ date.year }}</p>
                    </td>
                    <td width="30%" style="text-align: right;">
                        <p>{{ application.event.date }}</p>
                        <p></p>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="15%">
                        {% for sponsor in sponsors|slice:"0:4" %}
                            <img 
                                class="sponsor-logo sponsor-logo-left" 
                                src="{{ host }}{{ sponsor.sponsor.image.url }}"
                                width="100"
                                height="50"
                                >
                        {% endfor %}
                    </td>
                    <td width="70%" >
                        <div class="number-container">
                            {% for char in x %}
                                <img 
                                    class="number" 
                                    src="{{ host }}/static/app/svg/pdf/numbers/{{ char }}.svg"
                                    width="90"
                                    height="180"
                                    >
                            {% endfor %}
                        </div>
                    </td>
                    <td width="15%" style="text-align: right;">
                        {% for sponsor in sponsors|slice:"4:8" %}
                            <img 
                                class="sponsor-logo sponsor-logo-right" 
                                src="{{ host }}{{ sponsor.sponsor.image.url }}"
                                width="100"
                                height="50"
                                >
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="40%" style="text-align: left;">
                        <p>Телефон для экстренной связи:</p>
                        <p>{{ event.emegrency_phone_number }}</p>
                    </td>
                    <td width="20%" >
                        XCM55.RU
                    </td>
                    <td width="40%" style="text-align: right;">
                        <div>
                            <img width="140px" height="140px" src="{{ host }}{{ event.result_qr.url }}"> 
                            <p>Протокол</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}
