<!doctype html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="minimal-ui, width=device-width, shrink-to-fit=no, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <title>
            {% block head_title %}
            {% endblock head_title %} | XCM55
        </title>

        {% include 'base_css.html' %}

        <!-- Individual page style (if any)-->
        {% block css %}{% endblock %}

    </head>
    <body class="container-md">
        {% block body %}
        {% endblock body %}
    </body>
    {% include 'base_js.html' %}
</html>