<!doctype html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="minimal-ui, width=device-width, shrink-to-fit=no, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <title>
            {% block head_title %}
            {% endblock head_title %} | XCM55
        </title>
        
        <link rel="icon" type="image/png" sizes="64x64" href="{% static 'app/img/icon.png' %}">
        {% include 'base_css.html' %}

        <!-- Individual page style (if any)-->
        {% block css %}{% endblock %}

    </head>
    <body>       
        <header class="cover shadow-lg">
            <div class="auth-cover">
                {% if user.is_authenticated %}
                    <div class="text-light">{{ user.get_display_name }}</div>
                    <a class="btn btn-light" href="{% url 'account_logout' %}">Выйти</a>
                {% else %}
                    <a class="btn btn-light" href="{% url 'account_login' %}">Войти</a>
                {% endif %}
            </div>
            {% block cover %}
            {% endblock cover %}
        </header>
        
        {% block body %}
        {% endblock body %}
        <div class="notification">notification</div>
    </body>
    {% include 'base_js.html' %}
</html>