{% extends 'events/documents/base.html' %}
{% load static %}

{% block title %}
Регламент
{% endblock %}

{% block content %}
<h1 class="text-center">Регламент</h1>
<h2 class="text-center">Подготовки и проведения соревнований «{{ event.name }}»</h2>
<p class ="text-center mt-5">г. Омск, {{event.date.year}} г.</p>

<ol>
    <li class="h3 mt-4">
        Цели и задачи соревнований
    </li>
    <ol>
        <li>Популяризация спортивного направления;</li>
        <li>Привлечение к участию в соревнованиях любителей по велоспорту, спортсменов различных возрастов, участников;</li>
        <li>Повышение спортивного мастерства и навыков владения велосипедом;</li>
        <li>Выявление сильнейших спортсменов; </li>
        <li>Формирование здорового образа жизни среди жителей города Омска и  Омской  области;</li>
        <li>Привлечение жителей Омска  и Омской области к систематическим занятиям физической культурой;</li>
    </ol>
    <li class="h3 mt-4">
        Место и сроки проведения
    </li>
    <ol>
        <li>Дата проведения: <span class="fw-bold">{{ event.format_date }}</span></li>
        <li>Местом проведения, старт-финиш: <span class="fw-bold">{{ event.full_address }}</span></li>
    </ol>
    <li class="h3 mt-4">
        Участники соревнований 
    </li>
    <ol>
        <li>{{ event.name }} — это спортивно-массовое мероприятие для велосипедистов-любителей и спортсменов. Является индивидуальной гонкой с массовым стартом. Велогонка открыта для участников в возрасте от 18 лет и старше на дату мероприятия, оплативших стартовый взнос, имеющих справку о допуске от врача и страховку от несчастного случая.</li>
    	<li>Категории участников</li>
        <ol>
            {% if marathon %}
            <li><span class="fw-bold">Элита</span> - сильнейшие атлеты, с текущим или бывшим профессиональным велосипедным прошлым, а так же атлеты, уверенные в своих силах и имеющие отличный навык владения велосипедом.</li>
            {% endif %}
            <li><span class="fw-bold">Любители</span> с делением по возрастным группам:</li>
        <ul>
            <ol>
                {% for agegrop in agegroups %}
                <li>{{ agegrop }}</li>
                {% endfor %}
            </ol>
        </ul>
    </ol>
    <li>Организатор оставляет за собой право объединять смежные возрастные группы по результатам регистрации участников в целях. Финальное распределение участников по категориям определяется в стартовом протоколе не позднее, чем за 1 час до старта.</li>
    </ol>
    <li class="h3 mt-4">Дистанции</li>
    <ol>
        {% if marathon %}
            <li>Cоревновательная дистанция "Марафон" <span class="fw-bold">{{ marathon.render_distance }}</span>. Контрольное время {{ marathon.render_time_limit }}.</li>
            <ol>
                <li>Участники из категории "Элита" соревнуются между собой.</li>
                <li>Участники из категории "Любители" соревнуются в пределах своих возрастных категорий.</li>
            </ol>
        {% endif %}
        {% if halfmarathon %}
            <li>Несоревновательная дистанция "Полумарафон" <span class="fw-bold">{{ halfmarathon.render_distance }}</span>. Контрольное время {{ halfmarathon.render_time_limit }}.</li>
        {% endif %}
        {% if event.event_type %} <!-- Heat race -->
            <li>
                <span class="fw-bold">{{ route.render_distance }}</span>. Контрольное время {{ route.render_time_limit }}.
            </li>
            <ul>
                <li>Участники соревнуются в пределах своих возрастных категорий.</li>
                <li>Участники, занявшие 1-5 места в своих возрастных категориях, соревнуются в финале за 1 место.</li>
            </ul>
        {% endif %}
    </ol>
    <li class="h3 mt-3">Требования к участникам</li>
    <ol>
        <li>Решение о допуске участника к старту принимают лица, назначенные организатором мероприятия «{{ event.name }}», которые осуществляют техническую проверку стартующих при входе в стартовый коридор. Участник может быть не допущен до участия по соображениям безопасности других участников и зрителей.</li>
        <li>Участник обязан  надёжно закрепить на руле велосипеда полученный в стартовом пакете номер и обеспечить его читаемость на протяжении всего мероприятия.</li>
        <li>Участник обязан иметь на голове застёгнутый исправный велосипедный шлем. Другие виды шлемов (мотоциклетные, хоккейные, регби и т. д.) запрещены. Участники, передвигающиеся на велосипеде без застегнутого на голов ешлема, будут дисквалифицированы.</li>
        <li>Участники могут использовать велосипеды, предназначенные для движения по пересеченной местности, оснащенные прямым рулем или рулем типа «баран». Допускается применение покрышек шириной не менее 36 мм.</li>
        <li>Велосипеды для раздельного старта, триатлона, тандемы, лежачие и электрические велосипеды строго запрещены. Недопустимо использование аэродинамических рулей, предназначенных для гонок с раздельным стартом и/или триатлона («лежаков», «рогаток», «аэробаров»).</li>
        <li>Обязательное требование к велосипеду - наличие исправных переднего и заднего тормозов.</li>
        <li>Каждый участник добровольно принимает участие в велогонке, осознавая все риски для собственного здоровья во время велогонки и после нее.</li>
        <li>Участники допускаются к велогонке, предоставив расписку о полной̆ ответственности за состояние своего здоровья, физическую и техническую подготовку. Бланк расписки предоставляется при получении стартового пакета и заполняется на месте старта.</li>
        <li>Организаторы, спонсоры и официальные лица велогонки ни при каких условиях не несут ответственности:</li>
        <ul>
            <li>за материальный ущерб, причиненный участнику третьими лицами в ходе, до и после велогонки;</li>
            <li>в случае травм, либо смерти, произошедших во время мероприятия (до него, во время или после).</li>
        </ul>
        <li>Ответственность, связанная с нанесением ущерба имуществу или здоровью третьими лицами, лежит лично на участнике мероприятия.</li>
        <li>Если участник по каким-либо причинам сошел с трассы, он обязан сообщить об этом организаторам.</li>
        <li>Участники обязуются соблюдать указания организаторов.</li>
        <li>Участники обязуются уважать окружающую среду и выбрасывать мусор только в специально отведённых местах.</li>
    </ol>
    <li class="h3 mt-3">Регистрация</li>
    <ol>
        <li>Для участия в мероприятии «{{ event.name }}» необходимо пройти регистрацию на сайте <a href="https://xcm55.ru">XCM55.RU</a>.</li>
        <li>Регистрация участников на старте мероприятия не предусмотрена.</li>
        <li>Получение стартовых пакетов будет организовано на месте старта за два часа до начала мероприятия. На регистрации для получения стартового пакета необходимо предъявить удостоверение личности.</li>
        <li>Итоговый протокол будет опубликован на сайте <a href="https://xcm55.ru">XCM55.RU</a>.</li>
    </ol>
    <li class="h3 mt-3">Стоимость участия </li>
    <ol>
        {% if marathon %}
        <li>Cоревновательная дистанция "Марафон" <span class="fw-bold">{{ marathon.render_distance  }}</span> км.</li>
        <ul>
            {% for payment_window in marathon_payment_windows_all %}
                <li><strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if halfmarathon %}
        <li>Несоревновательная дистанция "Полумарафон" <span class="fw-bold">{{ halfmarathon.render_distance }}</span>.</li>
        <ul>
            {% for payment_window in halfmarathon_payment_windows_all %}
                <li><strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if route %}
        <li>Дистанция <span class="fw-bold">{{ route.render_distance }}</span></li>
        <ul>
            {% for payment_window in payment_windows_all %}
                <li><strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <li class="fw-bold">Регистрация не действительна  без оплаты </li>
        <li>Возврат и обмен</li>
        <ol>
            <li>Если у Вас не получается принять участие в мероприятии {{ event.name }}», пожалуйста, свяжитесь с организаторами. </li>
            <li>При отказе от участия срок до {{event.no_refund_date}} доступны: </li>
            <ul>
                <li>Возврат средств на внутренний баланс личного кабинета участника в размере 75% от стоимости слота. Вывести деньги из личного кабинета нельзя. Средства с внутреннего баланса можно использовать для оплаты регистрации на другой старт, анонсируемый организаторами. </li>
                <li>Передача стартового слота третьему лицу.</li>
            </ul>
            <li>Неявка участника на старт не является основанием для возврата средств.</li>
        </ol>
    </ol>
    <li class="h3 mt-3">Награждение</li>
    <ol>
        <li>Каждый участник, успешно финишировавший в пределах контрольного времени, награждается памятной медалью.</li>
        {% if marathon %}
        <li>Участники, занявшие 1, 2, 3 места в категории "Элита", дополнительно награждаются медалями и призами.</li>
        {% endif %}
        <li>Участники, занявшие 1, 2, 3 места в своих возрастных группах в категории "Любители", дополнительно награждаются медалями и призами.</li>
        
    </ol>
    <li class="h3 mt-3">Информационные источники</li>
    <ol>
        <li>Официальным источником информации о мероприятии является сайт <a href="https://xcm55.ru">XCM55.RU</a>.</li>
        <li>Новости, фотографии, анонсы будущих мероприятий организаторов публикуются:</li>
        <ul>
            <li>В VK в группе <a href="https://vk.com/xcm55">"ОМСКИЕ ВЕЛОМАРАФОНЫ"</a></li>
            <li>В Telegram в группе <a href="https://t.me/xcmomsk">"ОМСКИЕ ВЕЛОМАРАФОНЫ"</a></li>
        </ul>
        <li>За информацию, размещенную на других информационных ресурсах, организаторы ответственности не несут. </li>
    </ol>
    
</ol>

{% endblock %}
