html {
  height: 100%;
}

body {
  min-height: 100svh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

label, p, h1, h2, h3, h4, h5, li, a, a:hover {
  color: white;
}

p, li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.form-signin {
  width: 100vh;
  min-height: 100vh;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6))
}
