.cover {
    display: flex; 
    flex-direction: column;
    min-height: 300px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: #FFF;
  }

.h-cover {
    padding: 10px min(10%, 192px);
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
  }

.navbar-toggler {
  background-color: #FFF !important; 
  color:#00000062;
}

.brand-logo {
  width: 1.5em;
  height: auto;
  margin: 0.5em;
}

.brand-header {
  display: flex;
  text-decoration: none; 
  align-items: center;
  color: inherit;
}

.offcanvas-body{
  display: flex;
  flex-direction: column;
}