{% load static %}

<div class="alert alert-primary m-4">
    <h4 class="mb-4">
        Ваша заявка успешно зарегистрирована. Актуальная стоимость участия - <strong>{{ payment_window_active.render_price }}</strong>.
    </h4>
    <p>
        Оплату можно произвести по <a href="{{ event.payment_url }}">ссылке</a> (Т-Банк) 
        или через СБП по номеру телефона <button class="btn btn-light" id="sbp-button">{{ event.payment_sbp_phone}}</button> {{ event.payment_sbp_name }}
    </p>
    <p>
        Пожалуйста, не забудьте указать Вашу фамилию в комментарии к платежу.               
    </p>
    <p>
        Обращаем Ваше внимание на то, что оплата на старте мероприятия <strong>не предусмотрена</strong>. 
    </p>
</div>

<script>
    let spbButton = document.querySelector("#sbp-button")
    spbButton.addEventListener('click', function(e) {
        navigator.clipboard.writeText(spbButton.innerText).then(
            () => {document.showNotification("Скопировано в буфер обмена")},
            () => {document.showNotification("Невозможно скопировать в буфер обмена")}
        )
    })

</script>

