{% extends 'base.html' %}

{% load static %}

{% block head_title %}
    {{ event.get_display_name }}
{% endblock head_title %}

{% block cover %}
    {% include 'events/crab/cover.html' %}
{% endblock %}

{% block body %}
    <div class="container-md">  
    <p class="lead m-5 text-center">
        {{ event.description }}
    </p>
    
    <hr>
    
    <div class="mx-auto my-4">
        <p class="fs-2 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
              </svg>
            {{ event.date }}
        </p>
        {% if event.time %}
        <p class="fs-2 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
            </svg>
                {{ event.time }}
        </p>
        {% endif %}
        {% if event.start_location %}
        <p class="fs-4 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-geo-alt-fill fs-2" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
            {{ event.start_location }}
        </p>
        {% endif %}        
    </div>
    
    {% if event.finished %}
    <hr>
        {% with image='app/img/crab/protocol.webp' header='Результаты' button_text='Смотреть протокол' button_href=event.get_results_url text="Кросс-кантри марафон успешно завершен! Спасибо всем бесстрашным велосипедистам, принявшим участие в гонке, несмотря на сложные условия! О своих результатах можно узнать из официального протокола."%}
            {% include 'hero-left.html'%}
        {% endwith %}
    {% endif %}

    <hr>

    {% with image='app/img/crab/marathon.webp' header='Марафон' text=marathon.description button_text='Скачать трек' button_href=marathon.gpx.url button_secondary_text='Смотреть карту' button_secondary_href=marathon.map_embed_src %}
        {% include 'hero-right.html'%}
    {% endwith %}

    <hr>

    {% with image='app/img/crab/half-marathon.webp' header='Полумарафон' text=halfmarathon.description button_text='Скачать трек' button_href=halfmarathon.gpx.url button_secondary_text='Смотреть карту' button_secondary_href=halfmarathon.map_embed_src %}
        {% include 'hero-left.html'%}
    {% endwith %}

    <hr>

    {% with image='app/img/crab/elite.webp' header='Категория "Элита"' button_text='Зарегистрироваться' button_hide=registration_disabled button_href=event.application_elite_url text="Элита - сильнейшие атлеты. В этой категории участвуют люди с профессиональным спортивным опытом, уверенные в своих силах и обладающие отличным скиллом владения велосипедом. Для элиты предусмотрена только одна соревновательная категория - абсолютный зачет - и только одна дистанция - марафон."%}
        {% include 'hero-right.html'%}
    {% endwith %}

    <hr>
    
    {% with image='app/img/crab/amateur.webp' header='Категория "Любители"' button_text='Зарегистрироваться' button_hide=registration_disabled button_href=event.application_marathon_url text='Спорту, как и любви, все возрасты покорны. Не важно, 20 Вам или 60, в категории "Любители" Вы всегда сможете найти себе соперников по силам и посоревноваться с ними за призовые места в возрастной группе.' %}
        {% include 'hero-left.html'%}
    {% endwith %}

    <hr>
    
    {% with image='app/img/crab/medals.webp' header='Награждение' button_text='Зарегистрироваться' button_hide=registration_disabled button_href=event.application_url text='Участники, преодолевшие дистанцию в пределах контрольного времени, будут награждены медалями финишера. Победители в категории "Элита" и лучшие в своих возрастных группах "Любители" будут дополнительно награждены на церемонии награждения медалями и ценными призами от наших спонсоров.' %}
    {% include 'hero-right.html'%}
    {% endwith %}

    <hr>

    {% with image='app/img/crab/judge.webp' header='Правила' button_text='Скачать регламент' button_href=event.rules_doc.url text="Подробнее о правилах и проведении любительской кросс-кантри велогонки можно узнать в регламенте мероприятия."%}
        {% include 'hero-left.html'%}
    {% endwith %}

    </div>

    {% if not  event.finished %}

    {% if marathon_payment_window_active or halfmarathon_payment_window_active %}
    <div class="text-light bg-success shadow-lg">  
        <div class="container-md row flex-lg-row align-items-center text-center py-5 mx-auto">
            <h1 class="display-5 fw-bold lh-1" id="pricing">
                Стоимость участия
            </h1>
            <p class="lead mx-auto my-4 mb-md-5">
                Оплачивая стартовый слот заранее, вы не только экономите, но и помогаете организаторам эффективно планировать мероприятие. 
            </p>

            <div class="mx-auto mb-4">
                <input type="radio" class="btn-check" name="options-pricing" id="pricing-marathon-check" autocomplete="off" checked>
                <label class="btn btn-success" for="pricing-marathon-check">Марафон</label>
            
                <input type="radio" class="btn-check" name="options-pricing" id="pricing-halfmarathon-check" autocomplete="off">
                <label class="btn btn-success" for="pricing-halfmarathon-check">Полумарафон</label>
            
                <script>
                    let marathonInput = document.querySelector("#pricing-marathon-check")
                    marathonInput.addEventListener('click', ()=>{
                        document.querySelector('#pricing-marathon').style.display = 'block'
                        document.querySelector('#pricing-halfmarathon').style.display = 'none'
                    })
                    let halfmarathonInput = document.querySelector("#pricing-halfmarathon-check")
                    halfmarathonInput.addEventListener('click', ()=>{
                        document.querySelector('#pricing-marathon').style.display = 'none'
                        document.querySelector('#pricing-halfmarathon').style.display = 'block'
                    })

                </script>
            </div>
        

            <ul class="list-unstyled mx-0" id="pricing-marathon">
                {% for payment_window in marathon_payment_windows_stale %}
                <li class="text-decoration-line-through">
                    <strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}
                </li>
                {% endfor %}
                {% if marathon_payment_window_active %}
                    <hr class="w-50 mx-auto">
                    <li class="fs-2">
                        <strong>{{ marathon_payment_window_active.render_price }}</strong> при оплате до {{ marathon_payment_window_active.render_date }}
                    </li>
                    <hr class="w-50 mx-auto">
                {% endif %}
                {% for payment_window in marathon_payment_windows_next %}
                    {% if forloop.last %}
                        <li {% if forloop.first %} class="fs-4" {% endif %}>
                            <strong>{{ payment_window.render_price }}</strong> при оплате в день старта
                        </li>
                    {% else %}
                        <li  {% if forloop.first %} class="fs-4" {% endif %}>
                            <strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="list-unstyled mx-0" id="pricing-halfmarathon" style="display: none">
                {% for payment_window in halfmarathon_payment_windows_stale %}
                <li class="text-decoration-line-through">
                    <strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}
                </li>
                {% endfor %}
                {% if halfmarathon_payment_window_active %}
                    <hr class="w-50 mx-auto">
                    <li class="fs-2">
                        <strong>{{ halfmarathon_payment_window_active.render_price }}</strong> при оплате до {{ halfmarathon_payment_window_active.render_date }}
                    </li>
                    <hr class="w-50 mx-auto">
                {% endif %}
                {% for payment_window in halfmarathon_payment_windows_next %}
                    {% if forloop.last %}
                        <li {% if forloop.first %} class="fs-4" {% endif %}>
                            <strong>{{ payment_window.render_price }}</strong> при оплате в день старта
                        </li>
                    {% else %}
                        <li  {% if forloop.first %} class="fs-4" {% endif %}>
                            <strong>{{ payment_window.render_price }}</strong> при оплате до {{ payment_window.render_date }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="container-md py-5">          
        {% if elites or amateurs_marathon or amateurs_halfmarathon %}
        <h1 class="display-5 fw-bold lh-1 text-center" id="participants">
            Участвуют
                </h1>
                {% if elites %}
                    <div class="col-lg-6 mb-auto">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fs-3 fw-bolder">Категория "Элита" {{marathon.distance}} км</li>
                            {% for application in elites %}
                            <li class="list-group-item fs-5 ms-1">
                                {% if application == my_application %}
                                <strong>
                                    {{ application.user_profile }}
                                </strong>
                                {% else %}
                                {{ application.user_profile }}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
            <div class="row flex-lg-row align-items-center">
                {% if amateurs_marathon %}
                    {% if agegroups %}
                        <div class="col-lg-6 mb-auto">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item fs-3 fw-bolder">Категория "Любители" {{marathon.distance}} км</li>
                                {% for ag, applications in amateurs_marathon %}
                                    <li class="list-group-item fs-4 fw-bolder text-muted ms-1">{{ ag }}</li>
                                    {% if applications %}
                                        {% for application in applications %}
                                            <li class="list-group-item fs-5 ms-2">
                                                {% if application == my_application %}
                                                <strong>
                                                    {{ application.user_profile }}
                                                </strong>
                                                {% else %}
                                                {{ application.user_profile }}
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                    {% else %}
                                        <li class="list-group-item fs-5 ms-1">
                                            Пока никого!
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="col-lg-6 mb-auto">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item fs-3 fw-bolder">Категория "Любители" {{marathon.distance}} км</li>
                                {% for application in amateurs_marathon %}
                                <li class="list-group-item fs-5 ms-1">
                                    {% if application == my_application %}
                                    <strong>
                                        {{ application.user_profile }}
                                    </strong>
                                    {% else %}
                                        {{ application.user_profile }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
                {% if amateurs_halfmarathon %}
                    <div class="col-lg-6 mb-auto">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fs-3 fw-bolder">Категория "Любители" {{halfmarathon.distance}} км</li>
                            {% for application in amateurs_halfmarathon %}
                            <li class="list-group-item fs-5 ms-1">
                                {% if application == my_application %}
                                <strong>
                                    {{ application.user_profile }}
                                </strong>
                                {% else %}
                                    {{ application.user_profile }}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
        {% if my_application %}
            <div class="container-md py-5">         
                {% if not my_application.payment_confirmed %}
                    <div 
                        hx-get="{% url 'hx_event_payment_info' event.id %}"
                        hx-swap="outerHTML"
                        hx-trigger="revealed"
                        id="payment_info">
                    </div>
                {% else %}
                <div class="alert alert-success mb-4 fs-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                    </svg>
                    Ваша заявка на участие успешно оплачена. До встречи на старте!           
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if event.sponsors.all %}
        <hr>
            <section class="py-5">
                <div class="text-center">
                    <h1 class="display-5 fw-bold lh-1">
                        Наши спонсоры
                    </h1>
                    <p class="lead mx-auto my-4 mb-md-5">
                        Выражаем искреннюю благодарность нашим спонсорам за помощь в подготовке стартов
                    </p>
                </div>
                    <hr class="w-50 mx-auto">
            
                <div class="container-md">
                    <div class="row flex-sm-row align-items-center gx-0 gy-5 g-sm-5 py-5">
                        {% for s in event.sponsors.all %}
                        <div class="col-sm-4">
                            <a href="{{ s.xref }}" target="_blank">
                                <img class="d-block img-fluid rounded" width="300" height="150" src="{{ s.image.url }}"/>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

        {% endif %}
    </div>    
{% endblock body %}